---
layout: blog.liquid
# eleventyExcludeFromCollections: true
pagination:
    data: collections.posts
    size: 2
    alias: posts
    reverse: true
---
<div class="grid gap-8">
    {% for post in posts %}
        {% render 'card' post:post %} 
    {% endfor %}
</div>
{% if pagination.pageLinks.length > 1 %}
<div class="flex items-center justify-between border-y border-gray-200 px-4 py-3 sm:px-6">
    <div class="w-full text-center sm:flex sm:flex-1 sm:items-center sm:justify-between">
        <div class="pb-6 sm:pb-0">
            <p class="text-xs font-semibold text-gray-500">
                Showing
                <span>
                    {{ pagination.pageNumber | times: pagination.size | plus: 1 }}
                </span>
                to
                <span>
                    {% if pagination.nextPageLink %}
                    {{ pagination.pageNumber | times: pagination.size | plus: pagination.size }}
                    {% else %}
                    {{ collections.posts.length }}
                    {% endif %}
                </span>
                of
                <span>{{ collections.posts.length }}</span>
                results
            </p>
        </div>
        <div>
            <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
                {% if pagination.href.previous %}
                <a href="{{ pagination.href.previous }}"
                    class="relative inline-flex items-center px-4 py-2 text-sm text-gray-800 ring-1 ring-inset ring-gray-500">
                    <span class="font-semibold">Prev</span>
                </a>
                {% endif %}
                {% if pagination.href.next %}
                <a href="{{ pagination.href.next }}"
                    class="relative inline-flex items-center px-4 py-2 text-sm text-gray-800 ring-1 ring-inset ring-gray-500">
                    <span class="font-semibold">Next</span>
                </a>
                {% endif %}
            </nav>
        </div>
    </div>
</div>
{% endif %}