---
layout: layout.liquid
---
<section>
    <div class="container my-8">
        <div class="grid lg:grid-cols-4 gap-8 relative">
            <div class="lg:col-span-3 grid gap-8">
                {{content}}
            </div>
            <div>
                <div class="bg-gray-50 shadow p-8 sticky top-5">
                    <div class="mb-5">
                        <h2 class="font-bold text-2xl">Featured Links</h2>
                        <ul class="list-square list-inside mt-2">
                            <li class="py-2 font-semibold"><a href="https://codepen.io/dhruvangg/collections/">Collections</a></li>
                            <li class="py-2 font-semibold">How-to</li>
                            <li class="py-2 font-semibold">Tutorials</li>
                            <li class="py-2 font-semibold">Quick bites</li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="font-bold text-2xl">Tags</h2>
                        <ul class="list-square list-inside mt-2">
                            <li class="py-2 font-semibold"><a href="{{ '/tags/javascript' | url }}">JavaScript</a></li>
                            <li class="py-2 font-semibold"><a href="{{ '/tags/git' | url }}">Git</a></li>
                            <li class="py-2 font-semibold"><a href="{{ '/tags/mongodb' | url }}">MongoDB</a></li>
                            <li class="py-2 font-semibold"><a href="{{ '/tags/react' | url }}">ReactJs</a></li>
                            <li class="py-2 font-semibold"><a href="{{ '/tags/nodejs' | url }}">NodeJS</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>