<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="title" content="{{ title }}">
    <meta name="description" content="{{ description }}">
    <link rel="canonical" href="{{ site.url | append: page.url | url }}" />
    <meta name="keywords" content="{{  tags | join: ',' }}">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="{{ 'article' if tags else 'website' }}">
    <meta property="og:url" content="{{ site.url | append: page.url | url }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:site_name" content="{{site.name}}" />

    <!-- Twitter -->
    <meta name="twitter:site" content="@dhruvangg">
    <meta name="twitter:creator" content="@dhruvangg">
    <meta property="twitter:title" content="{{ title }}">
    <meta property="twitter:description" content="{{ description }}">
    <meta property="twitter:card" content="summary">
    <meta name="twitter:widgets:new-embed-design" content="on">
    <meta property="twitter:url" content="{{ site.url | append: page.url | url }}">

    <meta property="twitter:image"
        content="{% if featuredImg %}{{  site.url | append: '/assets/img/' | append: featuredImg.url | url }}{% else %}{{site.icon}}{% endif %}">
    <meta property="og:image"
        content="{% if featuredImg %}{{  site.url | append: '/assets/img/' | append: featuredImg.url | url }}{% else %}{{site.icon}}{% endif %}">
    <meta name="twitter:image:src"
        content="{% if featuredImg %}{{  site.url | append: '/assets/img/' | append: featuredImg.url | url }}{% else %}{{site.icon}}{% endif %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,500;6..12,700&family=Roboto+Mono&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ '/styles/main.css' | url }}">
    {% render 'svgs' %}
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WN9QWB8');
    </script>
</head>

<body>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WN9QWB8" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    {% render 'header' %}
    <main>
        {{ content }}
    </main>
    {% render 'footer' %}
    <script src="//unpkg.com/alpinejs" defer></script>
</body>

</html>